/*=====
  author: Alauddin Al Azad
  email: saimon.azad@hotmail.com
=====*/

/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");
/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;

  /*===== Colors =====*/
  --primary-color: #e17e31;
  --secondary-color: #25374b;

  --white-color: #ffffff;

  --btn-search-color: #ff9100;

  /*===== Font and typography =====*/
  --body-font: "Quicksand", sans-serif;
  --big-font-size: 2.5rem;
  --normal-font-size: 0.938rem;

  /*===== z index =====*/
  --z-fixed: 100;
}

/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: 500;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
input[type="text"],
input[type="email"] {
  border: none;
  border-radius: 5px;
  width: 100%;
}
::placeholder {
  color: #25374b;
  opacity: 1;
}
.title-white {
  color: #fff;
}
.title-orange {
  color: var(--primary-color);
}
.section__title {
  font-size: 1.6875rem;
  margin-bottom: 0.9375rem;
}
.section__desc {
  color: var(--secondary-color);
  font-size: 16px;
  margin-bottom: 15px;
}
.main-section {
  padding-top: 1.5625rem;
  padding-bottom: 1.5625rem;
}

/*===== LAYOUT =====*/

.l-header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(180deg, #1a1e23 0%, #54545470 100%),
    url("../img/david-benes-zsRhTW3qrmo-unsplash.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--white-color);
  background-blend-mode: multiply;
}

.header__container {
  max-width: 270px;
  margin: 0 auto;
}
.header__content {
  flex: 1;
}
.header__content h1 {
  font-size: 3rem;
  font-weight: 700;
}
.header__content h3 {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 15px 0 10px 0;
}
.search__form {
  display: flex;
  justify-content: center;
}

.search__input {
  padding: 15px 50px 15px 20px;
}
.btn {
  display: block;
  background: transparent;

  border: 0;
  outline: 0;
  padding: 0;
  transition: all 200ms ease-in;
  cursor: pointer;
}
.btn-search {
  background-color: var(--btn-search-color);
  align-self: center;
  padding: 12px;
  border-radius: 5px;
  font-size: 10px;
  margin-left: -38px;
}
.search__desc {
  text-align: left;
  margin-top: 5px;
}
.search__desc i {
  margin-right: 10px;
}

/*===== NAV =====*/
.nav {
  padding: 20px 10px;
  width: 100%;
  position: absolute;
  top: 0;
}
.nav,
.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white-color);
}
.nav__logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--white-color);
}
.nav__link {
  color: var(--white-color);
}
.nav__item i {
  font-size: 1.2rem;
  vertical-align: middle;
}

.nav__item {
  font-size: 1rem;
  font-weight: 600;
  padding-left: 1.25rem;
}

.nav__item span {
  vertical-align: middle;
  padding-left: 0.3rem;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 360px) {
  .header__content h1 {
    font-size: 2rem;
  }
}

/*===== FOOD CATEGORIES =====*/
.food__categories {
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #fff;
}

.categories_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
  gap: 1rem;
}

/*===== BEST SELLING =====*/
.best-selling {
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #f2f5f8;
}
.best-selling-card__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 1rem;
}
.card__desc {
  display: flex;
  justify-content: space-between;
  text-align: left;
}
.card__desc p {
  font-size: 1.3rem;
  letter-spacing: 0.3rem;
}
.btn-buy {
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 6px 16px;
  border-radius: 5px;
  background-color: #fff;
  font-weight: 600;
}
.card__image {
  position: relative;
}
.best-selling .rating {
  font-size: 0.5rem;
  margin-top: 0.3125rem;
}
/*===== ABOUT US =====*/
.about-us {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}
.about-us-container {
  background-color: #f2f5f8;
}

/*===== CONTACT US =====*/
.contact-us {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  padding: 1.5rem 1rem;
}
.contact-us-section {
  background-color: #f2f5f8;
  padding-bottom: 1.5625rem;
}

.contact-us .section__title {
  text-align: center;
}

.contact-us__form input[type="text"],
.contact-us__form input[type="email"] {
  padding: 15px 20px;
  margin-bottom: 10px;
}

.contact-us__form input[type="checkbox"] {
  margin-bottom: 20px;
}
.contact-us__form .checkbox__text {
  color: #fff;
}
.btn-contact-us {
  width: 100%;
  background: transparent;
  border: 2px solid #fff;
  padding: 18px 0;
  color: #fff;
}
/*===== FOOTER =====*/
.footer_wrapper {
  background-color: #25374b;

  padding: 1.5rem 1rem;
}
.footer_container {
  display: flex;
  justify-content: space-between;
}
.footer__logo {
  font-size: 27px;
}
.social-icons i {
  color: white;
  font-size: 1.2rem;
  padding-right: 5px;
}
.social-icons {
  align-self: center;
}
/*===== MEDIA QUERIES =====*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 544px) and (max-width: 767.98px) {
  .header__content h1 {
    font-size: 2.8rem;
  }
  .header__container {
    max-width: 300px;
    margin: 0 auto;
  }
  .best-selling-card__container {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }
}

/* Medium devices (tablets, 768px and up)*/
@media only screen and (min-width: 768px) {
  .header__content h1 {
    font-size: 4.8rem;
    line-height: 6rem;
  }
  .header__container {
    max-width: 450px;
    margin: 0 auto;
  }
  .nav__logo {
    font-size: 2rem;
  }

  .best-selling-card__container {
    grid-template-columns: 1fr 1fr;
  }
  .about-us {
    flex-direction: row;
  }
  .about-us__text {
    flex: 1;
    margin-right: 0.5rem;
    text-align: left;
    align-self: center;
  }
  .about-us__thumbnail {
    flex: 1;
    margin-left: 0.5rem;
  }
  .contact-us {
    flex-direction: row;
  }
  .contact-us .section__title {
    flex: 1;
    margin-right: 0.5rem;
    align-self: center;
    margin: 0;
  }
  .contact-us form {
    flex: 1;
    margin-left: 0.5rem;
  }
  .section__title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  .main__container {
    max-width: 900px;
    margin: 0 auto;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .header__content h1 {
    font-size: 4rem;
  }
  .header__container {
    max-width: 360px;
    margin: 0 auto;
  }
}
@media (min-width: 1400px) {
  .header__content h1 {
    font-size: 6.3rem;
    line-height: 6rem;
  }
  .header__container {
    max-width: 570px;
    margin: 0 auto;
  }
  .nav {
    max-width: 1300px;
  }
  .nav__logo {
    font-size: 3.5rem;
  }
  .nav__item i {
    font-size: 1.4rem;
    vertical-align: middle;
  }

  .nav__item {
    font-size: 1.3rem;
    font-weight: 600;
    padding-left: 3.5rem;
  }
  .nav__item span {
    vertical-align: middle;
    padding-left: 1rem;
  }
  .search__input {
    padding: 1.875rem 5.625rem 1.875rem 1.5625rem;
    font-size: 1.675rem;
  }
  input[type="text"],
  input[type="email"] {
    border-radius: 10px;
  }
  .header__content h3 {
    font-size: 2.25rem;
    font-weight: 600;
    margin: 3.4375rem 0 1.25rem 0;
  }
  .btn-search {
    background-color: var(--btn-search-color);
    align-self: center;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
    margin-left: -75px;
  }
  .search__desc {
    text-align: left;
    margin-top: 0.9375rem;
    font-size: 1.5rem;
  }
  .search__desc i {
    margin-right: 1.25rem;
  }
  .section__title {
    font-size: 3.125rem;
    margin-bottom: 1.875rem;
  }
  .section__desc {
    font-size: 1.125rem;
    margin-bottom: 3.125rem;
  }
  .categories_container {
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 4.6875rem;
  }
  .categories_container .card img {
    width: 100%;
  }
  .categories_container .card h3 {
    font-size: 1.75rem;
    margin-top: 2.25rem;
  }
  .main-section {
    padding-top: 6.25rem;
  }
  .best-selling .section__title {
    margin-bottom: 3.125rem;
  }
  .best-selling-card__container {
    grid-gap: 3.125rem;
  }
  .best-selling h3 {
    font-size: 30px;
    margin-top: 20px;
  }

  .best-selling .rating i {
    padding-right: 2px;
  }
  .btn-buy {
    bottom: 0.9375rem;
    left: 0.9375rem;
    padding: 0.8125rem 2.15rem;
    border-radius: 0.625rem;
    font-size: 1.125rem;
    font-weight: 500;
  }
  .about-us__text {
    margin-right: 1.5625rem;
  }
  .about-us__thumbnail {
    margin-left: 1.5625rem;
  }
  .contact-us {
    padding: 2.5rem 6rem;
    border-radius: 0.625rem;
    margin-bottom: 9.375rem;
  }

  .contact-us__form input[type="text"],
  .contact-us__form input[type="email"] {
    padding: 1.25rem 1.25rem;
    margin-bottom: 1.25rem;
  }
  .contact-us__form input[type="checkbox"] {
    margin-bottom: 2.5rem;
  }
  .footer_container {
    max-width: 1300px;
    margin: 0 auto;
  }
  .social-icons i {
    font-size: 30px;
    padding-right: 20px;
  }
  .footer__logo {
    font-size: 60px;
  }
  .about-us {
    padding-bottom: 6.25rem;
  }
  .food_container,
  .best-selling-container,
  .about-us,
  .contact-us-container {
    max-width: 1300px;
    margin: 0 auto;
  }
}
